
body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
}

.departure-board {
    font-size: 75px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
}

.departure {
    display: inline-block;
}

.train-order {
    display: inline-block;
}

.departure-time {
    display: inline-block;
}

.scheduled-departure-time {
    display: inline-block;
}

.destination {
    display: inline-block;
}

.actual-departure-time {
    display: inline-block;
}

.departure-info {
}

.time {
    font-size: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
}

