
body {
    background-color: black;
    font-family: Poppins,Arial,sans-serif;
    font-size: 75px;
    color: white;
}


.departure-board {
    font-size: 75px;
    display: inline-block;
}


.station {
    display: inline-block;
    color: yellow;
}

.time {
    display: inline-block;
}

.scheduled-departure-time {
    display: inline-block;
}

.destination {
    display: inline-block;
}

.status {
    display: inline-block;
}

.toc {
    display: inline-block;
    font-size: 20px;
    color: yellow;
}

.num-carriages {
    font-size: 20px;
    display: inline-block;
}
